@{
    string backgroundImage = null;
    if (Document.ContainsKey(WebKeys.Image))
    {
        backgroundImage = $"url(\"{Context.GetLink(Document.GetString(WebKeys.Image))}\")center center";
    }
    string description = Document.WithoutSettings().GetString("Lead") ?? Document.WithoutSettings().GetString(WebKeys.Description);
    string title = Document.GetString("Title") ?? Document.GetString("SiteTitle");
    bool isPost = Document.GetBool("IsPost") && title != "Tags" && title != "Archive";
    string published = Document.GetDateTime("Published") != null ? Document.GetDateTime("Published").ToLongDateString() : null;
}
@if (!isPost) {
    <section class="hero is-link is-small has-background-light">
        <div class="hero-body">
            <p class="title has-text-black-bis has-text-centered">Alex Bance</p>
            <p class="subtitle has-text-black-bis has-text-centered">Power Platform and .NET Technical Consultant</p>
        </div>
    </section>
} else if (backgroundImage != null) {
    <section class="hero is-medium" style="background: @backgroundImage; background-size: cover;">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">@title</p>
                <p class="subtitle">@description</p>
                @if (published != null) {
                    <p class="subtitle">Published On: @published</p>
                }
            </div>
        </div>
    </section>
} else {
    <section class="hero is-link is-small has-background-light">
        <div class="hero-body">
            <p class="title has-text-black-bis has-text-centered">@title</p>
            <p class="subtitle has-text-black-bis has-text-centered">@description</p>
            @if (published != null) {
                <p class="subtitle has-text-black-bis has-text-centered">Published On: @published</p>
            }
        </div>
    </section>
}
