<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Document.GetString("PageTitle")</title>
    <link rel="canonical" href="@(Document.GetString("Canonical") ?? Document.GetLink(true))">
    <meta property="og:title" content="@Document.GetString("PageTitle")" />
    <link rel="stylesheet" href="assets/site.css">
    <link rel="script" href="assets/site.js">
    <link rel="script" href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@5.15.3/js/fontawesome.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    @Html.Partial("_navbar.cshtml")
    @Html.Partial("_header.cshtml", Document)
    <div class="section">
        @RenderBody()
    </div>
    @Html.Partial("_footer.cshtml", Document)
</body>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>